In [73]:
import pandas as pd
with open("paragraph.txt", "r") as file:
    text = file.read()
print(text)

Sometimes, life surprises us with unexpected adventures. On sunny days, people often stroll through parks, chatting joyfully. However, when it rains, umbrellas bloom like colorful mushrooms. At noon, cafés fill with the aroma of coffee! Cats often nap lazily on windowsills, yet indifferent to the world outside. Meanwhile, students, lost in thought, scribble notes quickly. Between classes, laughter echoes in hallways. Words carry weight, but silence speaks volumes. Happiness is found in small, everyday moments. Bright stars dot the night sky, whispering secrets to those who listen closely.

In [75]:
import re
sentences = re.split(r'(?<=[.!?]) +', text)
sentences #10 Sentences

['Sometimes, life surprises us with unexpected adventures.',
 'On sunny days, people often stroll through parks, chatting joyfully.',
 'However, when it rains, umbrellas bloom like colorful mushrooms.',
 'At noon, cafés fill with the aroma of coffee!',
 'Cats often nap lazily on windowsills, yet indifferent to the world outside.',
 'Meanwhile, students, lost in thought, scribble notes quickly.',
 'Between classes, laughter echoes in hallways.',
 'Words carry weight, but silence speaks volumes.',
 'Happiness is found in small, everyday moments.',
 'Bright stars dot the night sky, whispering secrets to those who listen closely.']

In [77]:
list = re.findall(r'\b\w+\b', text)
words = pd.DataFrame(words, columns=['Words'])
words #88 words

        Words
0   Sometimes
1        life
2   surprises
3          us
4        with
..        ...
83         to
84      those
85        who
86     listen
87    closely

[88 rows x 1 columns]

In [79]:
set = df.iloc[[60,26,10,10,41,35,26,44,48]]
set
hidden_message = "".join(set["Words"].apply(lambda x: x[0]))
hidden_message #hAppyCAts

'hAppyCAts'